body {
    background-color:burlywood;
}

nav a {
    color: red;
}

#current-link {
    text-decoration: none;
}
.uppercase {
    text-transform: uppercase;
    font-size: 38px;
}   
 

img {
    width:250px;
    height:auto;
}

h1 {
    border-style: dashed;
    border-width: 5px;
    border-color:red;
}

iframe{
    width:100%;
}

@media screen and (max-width:959px) {
    #container{
        width: 100%;
    }
    #left-colunm{
        width: 70%;
    }
    #right-coulnm{
        width: 30%;
    }
    img{
        width:100%;
    }
}

@media screen and (max-width:640px){
      #left-colunm{
        width: 100%;
    }
    #right-coulnm{
        width: 100%;
    }
    
}
html {
    font-size: 20px;
}
@media(max-width: 1580px){
    html {
        font-size: 18px;
}
} 
@media(max-width: 980px) {
    html {
        font-size: 16px;
    }
}      
        
@media (max-width: 320px) {
    iframe{
        width: 100%;
    }
}
    
    

